h1{
    color:red
}
* {
    border:solid
}

.header {
    border-color:red;
    background-color:lightcoral;
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:lightgreen;
}

.footer {
    display: flex; 
    background-color:lightslategray;
    justify-content: center; 
}